# Node dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
*.tsbuildinfo

# Environment files
.env*
!.env.development  # optionally keep one for development only

# IDE/editor settings
.vscode
.idea
.DS_Store

# Docker & misc
Dockerfile
docker-compose*
.dockerignore
